.DS_Store

/target/*
!/target/wp-content
/target/wp-content/*
!/target/wp-content/themes
/target/wp-content/themes/*
!/target/wp-content/themes/aaron-wines
/target/wp-content/themes/aaron-wines/**/.DS_Store

node_modules
