//==============================
// Button
//==============================

.button {
  font: 500 normal 13px/1.2 $roboto;
  letter-spacing: .15em;
  background-color: transparent;
  padding: 1em 2em;
  color: $blue;
  border: $blue solid 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s, color .2s;
  min-width: 130px;
  text-align: center;

  @include bp(xs) {
    font-size: 11px;
    min-width: 100px;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;
  }
}
