//==============================
// Button
//==============================

// REDO THIS CSS

.button-group {
  margin-top: 20px;
}

.button {
  @include button;
}

.button-outline {
  font: 600 normal 15px/1 $sans-serif;
  letter-spacing: .15em;
  background-color: transparent;
  padding: 1em 2em;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s, color .2s;
  min-width: 110px;
  text-align: center;
  margin: 0 5px 10px 0;
  margin-top: 2em;

  &.button-dark {
    color: $blue;
    border: $blue solid 2px;
  }

  &.button-light {
    color: $white;
    border: $white solid 2px;
  }

  @include bp(xs) {
    font-size: 11px;
    min-width: 100px;
  }

  // &:hover,
  // &:focus {
  //   background-color: $blue;
  //   color: $white;
  // }
}

.button-secondary {
  font: 700 normal 16px/1 $sans-serif;
  letter-spacing: .15em;
  background-color: transparent;
  padding: .5em 0;
  color: $blue;
  border: 0;
  border-bottom: 2px solid currentColor;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .2s;
  text-align: center;
  margin: 0 5px 10px 0;

  @include bp(xs) {
    font-size: 11px;
    min-width: 100px;
  }

  &:hover {
    color: darken($blue, 10%);
  }
}
