//==============================
// Button
//==============================


.button {
  @include button;

  &-small {
    font-size: 14px;
    padding: .8em 1.4em;

    @include bp(s) {
      font-size: 12px;
    }
  }

  &-medium {
    font-size: 15px;
    padding: 1em 2em;

    @include bp(s) {
      font-size: 13px;
    }
  }

  &-large {
    font-size: 17px;
    padding: 1.2em 2.4em;

    @include bp(s) {
      font-size: 15px;
    }
  }

  &-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;

    &.button-light {
      color: $white;
      border-color: $white;

      &:hover {
        background-color: $white;
        color: $blue;
      }
    }

    &.button-dark {
      color: $blue;
      border-color: $blue;

      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }

  &-solid {

    &.button-light {
      color: $blue;
      background-color: $white;

      &:hover {
        background-color: $gold;
      }
    }

    &.button-dark {
      color: $white;
      background-color: $blue;

      &:hover {
        background-color: $gold;
        color: $white;
      }
    }
  }

  &-arrow {
    font-size: 14px;
    position: relative;
    padding: .8em 20px .8em 0;
    text-align: left;

    @include bp(xs) {
      font-size: 13px;
    }

    &:after {
      content: ' \27A4';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%) scale(.8);
      transition: transform .2s;
    }

    &:hover {

      &:after {
        transform: translate(5px, -50%) scale(.8);
      }
    }

    &.button-dark {
      color: $blue;
    }

    &.button-light {
      color: $white;
    }
  }

  &-group {
    display: flex;
    margin-top: 2em;

    &-horizontal {
      flex-flow: row wrap;

      .button {
        margin-right: 10px;
      }

      .button-solid,
      .button-outline {

        @include bp(xs) {
          width: 100%;
        }
      }
    }

    &-vertical {
      flex-flow: column nowrap;
      align-items: flex-start;
    }

    .button {
      margin-top: 10px;
    }
  }
}

