//==============================
// Contact Form
//==============================

$form-gutter: 5px;

.contact-form {
  margin-top: 100px;

  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &-row {
    margin-bottom: 10px;

    &.one-half {
      width: calc(50% - #{$form-gutter});

      @include bp(s) {
        width: 100%;
      }
    }

    &.one-third {
      width: calc((100% / 3) - (#{$form-gutter} * 3 / 2));

      @include bp(s) {
        width: 100%;
      }
    }

    &.full {
      width: 100%;
    }

    &.submit {
      margin-top: 20px;
      text-align: center;
    }
  }
}
