//==============================
// Feature
//==============================

.feature {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  position: relative;
  min-height: 60vw;
  padding-top: 10vw;

  @include bp(xl) {
    min-height: 50vw;
  }

  @include bp(s) {
    padding-top: 0;
  }

  &-img {
    width: 80%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;

    @include bp(s) {
      width: 100%;
      height: 70vw;
      order: -1;
      position: static;
    }

    img {
      position: relative;
      width: 110%;
      height: 110%;
      left: -5%;
      object-fit: cover;
    }
  }

  &-content {
    width: 40%;
    max-width: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    background-color: $white;
    padding: 100px;
    margin-left: auto;
    margin-right: 5%;
    -webkit-mask-image: url('assets/images/global/content-card-center-mask.svg');
    mask-image: url('assets/images/global/content-card-center-mask.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    @include bp(xl) {
      margin-right: 0;
      padding: 80px;
      -webkit-mask-image: url('assets/images/global/content-card-right-mask.svg');
      mask-image: url('assets/images/global/content-card-right-mask.svg');
    }

    @include bp(l) {
      padding: 60px;
      width: 50%;
    }

    @include bp(s) {
      width: calc(100% - 40px);
      margin: 0 auto;
      top: -5vw;
      padding: 45px;
      -webkit-mask-image: url('assets/images/global/content-card-center-mask.svg');
      mask-image: url('assets/images/global/content-card-center-mask.svg');
    }

    .h2 {
      color: #a9a587;
    }
  }

  &.alt {

    .feature-img {

    }
  }
}
