//==============================
// Footer
//==============================

.footer {
  background: $blue;
  padding: 60px 0;

  &-items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1300px;
  }

  &-item {
    padding-bottom: 40px;
    // width: calc(100% / 3);

    // &.footer-logo {
    //   width: 100%;
    //   margin-bottom: 60px;

    //   svg {
    //     display: block;
    //     width: 200px;
    //     height: auto;
    //     opacity: .5;
    //   }
    // }

    &.newsletter {
      width: 100%;
      // margin: 0 0 60px;
      margin: 0;
      // padding: 80px;
      // background-color: $white;
      // background: $white url('assets/images/home/wave.jpg') center center / cover no-repeat;
      // box-shadow: 0 30px 20px -15px rgba(0,0,0,.08);
      // position: relative;
      // top: -40px;
      text-align: center;
    }

    &.contact {
      width: 30%;
    }

    &.location {
      width: 30%;
    }

    &.club {
      width: 30%;

      .button-outline {
        margin-top: 0;
      }
    }

    &.planet {
      width: 10%;

      img {
        display: block;
        width: 100%;
        max-width: 80px;
        height: auto;
        margin-left: auto;
        opacity: .5;
      }
    }

    &.footer-social { // CHANGE THIS CLASS NAME
      width: calc(100% / 3);
    }
  }

  &-title {
    @include h4;
    margin-bottom: 5px;
    color: #aaa;
  }

  .text {
    color: $white;
  }

  &-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // background-color: $;
    border-top: $white solid 2px;
    padding: 20px 0;
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1300px;
  }

  &-copyright {
    display: flex;
    flex-flow: row wrap;

    li {
      list-style-type: none;
      color: $white;
      font-size: 16px;

      + li {
        margin-left: 20px;
      }
    }
  }
}



