//==============================
// Footer
//==============================

.footer {
  background: #d4d0b4;
  padding: 100px 0;

  &-items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1200px;
  }

  &-item {
    // width: calc(100% / 3);

    // &.footer-logo {
    //   width: 100%;
    //   margin-bottom: 60px;

    //   svg {
    //     display: block;
    //     width: 200px;
    //     height: auto;
    //     opacity: .5;
    //   }
    // }

    &.newsletter {
      width: 80%;
      margin: 0 0 60px;
      // padding: 80px;
      // background-color: $white;
      // background: $white url('assets/images/home/wave.jpg') center center / cover no-repeat;
      // box-shadow: 0 30px 20px -15px rgba(0,0,0,.08);
      // position: relative;
      // top: -40px;
      // text-align: center;
    }

    &.contact {
      width: calc(100% / 3);
    }

    &.location {
      width: calc(100% / 3);
    }

    &.club {
      width: calc(100% / 3);

      .button-outline {
        margin-top: 0;
      }
    }

    &.footer-social { // CHANGE THIS CLASS NAME
      width: calc(100% / 3);
    }
  }

  &-title {
    @include h4;
    margin-bottom: 5px;
  }

  &-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // background-color: $;
    border-top: $blue solid 2px;
    padding: 20px 0;
    margin: 40px auto 0;
    width: calc(100% - 80px);
    max-width: 1200px;
  }

  &-copyright {
    display: flex;
    flex-flow: row wrap;

    li {
      list-style-type: none;

      + li {
        margin-left: 20px;
      }
    }
  }
}



