//==============================
// Footer
//==============================

.footer {
  background: $blue;
  padding: 60px 0;

  &-items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1300px;
  }

  &-item {
    padding-bottom: 40px;

    &.newsletter {
      width: 100%;
      margin: 0;
      text-align: center;
    }

    &.contact {
      width: 30%;
    }

    &.location {
      width: 30%;
    }

    &.club {
      width: 30%;

      .button-outline {
        margin-top: 0;
      }
    }

    &.planet {
      width: 10%;

      img {
        display: block;
        width: 100%;
        max-width: 80px;
        height: auto;
        margin-left: auto;
        opacity: .5;
      }
    }

    &.footer-social { // CHANGE THIS CLASS NAME
      width: calc(100% / 3);
    }
  }

  &-title {
    @include h4;
    margin-bottom: 5px;
    color: #aaa;
  }

  .p1 {
    color: $white;

    a {
      @include link-underline-on-hover;
    }
  }

  &-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // background-color: $;
    border-top: $white solid 2px;
    padding: 20px 0;
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1300px;
  }

  &-nav {
    display: flex;
    flex-flow: row wrap;

    p,
    li {
      font-size: 16px;
      color: $white;
    }

    .menu-footer-container {
      margin-left: 20px;
    }

    .menu {
      display: flex;
      flex-flow: row wrap;

      li {
        list-style-type: none;

        + li {
          margin-left: 20px;
        }

        a {
          @include link-underline-on-hover;
        }
      }
    }
  }
}



