//==============================
// Form
//==============================

@mixin input-reset {
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}

select {
  &::-ms-expand {
    display: none;
  }
}

// placeholder and autofill
input,
textarea {
  &::-webkit-input-placeholder {

  }

  &:-moz-placeholder {
    
  }

  &::-moz-placeholder {
    
  }

  &:-ms-input-placeholder {
    
  }

  &:-webkit-autofill {
    // -webkit-box-shadow: 0 0 0px 1000px $white inset;
    // -webkit-text-fill-color: $white !important;
  }
}

// input[type="text"],
// input[type="email"],
// input[type="tel"],
// input[type="password"],
// input[type="date"],
// input[type="number"],
// select,
// textarea {
//   @include input-reset;
//   font: 400 normal 17px/1.7 $sans-serif !important;
//   color: $charcoal;
//   width: 100% !important;
//   background: $white;
//   border: 0 !important;
//   padding: .8em 1.3em !important;
//   color: $charcoal !important;
//   height: auto !important;

//   @include bp(l) {
//     font-size: 16px;
//   }

//   @include bp(s) {
//     line-height: 1.8;
//   }

//   @include bp(s) {
//     font-size: 15px;
//   }
// }

// input[type="submit"],
// button[type="submit"] {
//   @include input-reset;
//   @include button;
// }

// select {
//   padding-right: 2em !important;
//   background: $white url('assets/images/global/arrow-down.svg') right center / 25px auto no-repeat;
// }

// textarea {
//   resize: none;
//   height: 170px !important;
// }
