//==============================
// Header
//==============================

.header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  background-color: transparent;
  border-radius: 5px;
  transition: width $header-transition-time, background-color $header-transition-time, transform $header-transition-time, box-shadow $header-transition-time;

  @include bp(m) {
  }

  &.scroll {
    background-color: $white;
    width: calc(100% - 100px);
    transform: translate(-50%, 20px);
    box-shadow: 0 0 15px rgba(0,0,0,.1);

    .header-logo {

      .aaron-logo-white {
        fill: $black;
      }
    }

    .header-nav-item {

      a {
        color: $charcoal;
      }
    }

    .header-utility-item {

      svg {
        fill: $charcoal;
      }
    }
  }

  &-logo {
    width: 140px;
    margin: 0 0 3px 30px;

    svg {
      display: block;
      width: 100%;
      height: auto;

      .aaron-logo-white {
        transition: fill $header-transition-time;
      }
    }
  }

  &-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    margin-left: auto;

    &-logo {
      margin-left: 5px;
      margin-right: auto;

      a {
        display: block;

        img {
          width: 100px;
        }
      }
    }
    
    &-items {
      display: flex;
      flex-flow: row nowrap;

      @include bp(m) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: $white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
      }

      &.open {

        @include bp(m) {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-item {
      list-style-type: none;

      a {
        padding: 30px 15px;
        display: block;
        text-align: center;
        position: relative;
        font: 400 normal 13px/1.5 $monospace;
        letter-spacing: .15em;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        transition: color .2s;

        @include bp(m) {
          padding: .5em;
          font-size: 25px;
        }

        @include bp(xs) {
          font-size: 20px;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 100%;
          opacity: 0;
          transition: opacity .2s;

          @include bp(m) {
            display: none;
          }
        }

        &:hover,
        &.active {

          &:after {
            opacity: 1;
          }
        }
      }

      &.login {
        display: none;

        @include bp(m) {
          display: block;
        }
      }
    }

    &-button {
      @include input-reset;
      width: 50px;
      height: 50px;
      padding: 0;
      position: relative;
      background-color: transparent;
      display: none;
      margin-left: 10px;
      order: 1;

      @include bp(m) {
        display: block;
      }

      &:focus {
        outline: 0;
      }

      span {
        position: absolute;
        left: 10px;
        display: block;
        height: 2px;
        width: 30px;

        &.top {
          top: 16px;
        }

        &.middle {
          top: 24px;
        }

        &.bottom {
          top: 32px;
        }
      }
    }

    &-close {
      @include input-reset;
      position: fixed;
      right: 20px;
      top: 5px;
      background: transparent;
      width: 50px;
      height: 50px;
      z-index: 101;
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s, visibility .5s;
      display: none;

      @include bp(m) {
        display: block;
      }

      &:focus {
        outline: 0;
      }

      &.open {
        visibility: visible;
        opacity: 1;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        height: 2px;
        width: 30px;
        background: $blue;
        transform-origin: center center;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &-utility {

    &-items {
      display: flex;
      flex-flow: row nowrap;
      margin-right: 20px;

      @include bp(m) {
        border-left: none;
        margin-left: auto;
      }
    }

    &-item {
      list-style-type: none;

      a {
        display: block;
        height: 40px;
        width: 40px;
        position: relative;
        text-decoration: none;

        &:hover {

          svg {
            opacity: .7;
          }
        }
      }

      svg {
        display: block;
        height: 16px;
        width: 16px;
        fill: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity .3s;
        transition: fill $header-transition-time;
      }

      .cart-count {
        background: $white;
        color: $charcoal;
        border-radius: 10px;
        padding: 3px 5px 4px 6px;
        font: 500 normal 10px/1 $monospace;
        position: absolute;
        left: 28px;
        top: 0;
      }
    }
  }
}
