//==============================
// Header
//==============================

.header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 10;
  background-color: transparent;
  border-radius: 3px;
  transition: width $header-transition-time, background-color $header-transition-time, transform $header-transition-time, box-shadow $header-transition-time;

  @include bp(m) {
    transform: none !important;
    left: 0;
    border-radius: 0;
    width: 100% !important;
    height: 60px;
  }

  &.scroll {
    background-color: $white;
    width: calc(100% - 100px);
    transform: translate(-50%, 20px);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);

    .header-logo {

      .aaron-logo-white {
        fill: $charcoal;
      }
    }

    #menu-main {

      .menu-item {
        color: $charcoal;

        &:after {
          border-color: $charcoal;
        }
      }
    }

    .header-shop {
      border-color: $charcoal;
    }

    .header-shop-item {
      color: $charcoal;

      svg {
        fill: $charcoal;
      }
    }

    .header-nav-button span {
      background-color: $charcoal;
    }
  }

  &.open {

    .header-logo {

      .aaron-logo-white {
        fill: $charcoal;
      }
    }

    #menu-main {

      .menu-item {
        color: $charcoal;

        &:after {
          border-color: $charcoal;
        }
      }
    }

    .header-shop-item {
      color: $charcoal;

      svg {
        fill: $charcoal;
      }
    }
  }

  &-logo {
    width: 120px;
    margin: 0 0 3px 40px;
    position: relative;
    z-index: 101;

    @include bp(m) {
      margin-left: 20px;
      width: 100px;
    }

    svg {
      display: block;
      width: 100%;
      height: auto;

      .aaron-logo-white {
        transition: fill $header-transition-time;
      }
    }
  }

  &-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    margin-left: auto;

    @include bp(m) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: $white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(1.1);
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s, visibility .5s, transform .5s;
    }

    &.open {

      @include bp(m) {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }

    &-logo {
      margin-left: 5px;
      margin-right: auto;

      a {
        display: block;

        img {
          width: 100px;
        }
      }
    }
    
    #menu-main {
      display: flex;
      flex-flow: row nowrap;

      @include bp(m) {
        flex-flow: column nowrap;
        align-items: center;
      }

      .menu-item {
        list-style-type: none;
        position: relative;
        color: $white;
        font: 700 normal 15px/1.5 $sans-serif;
        letter-spacing: .15em;
        text-transform: uppercase;

        @include bp(l) {
          font-size: 14px;
        }

        @include bp(m) {
          color: $charcoal;
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: calc(50% + 1em);
          width: 0;
          border-bottom: $white solid 2px;
          transform: translate(-50%, -50%);
          transition: width .2s, border-color $header-transition-time;

          @include bp(m) {
            top: calc(50% + 1.2em);
          }

          @include bp(xs) {
            top: calc(50% + 1em);
          }
        }

        a {
          padding: 30px 1em;
          display: block;
          text-align: center;
          position: relative;
          text-decoration: none;
          color: inherit;
          transition: color .2s;
          position: relative;
          z-index: 2;

          @include bp(l) {
            padding: 30px .6em;
          }

          @include bp(m) {
            padding: .5em;
            font-size: 25px;
          }

          @include bp(xs) {
            font-size: 20px;
          }
        }

        &.login {
          display: none;

          @include bp(m) {
            display: block;
          }
        }

        &.current-menu-item,
        &:hover {

          &:after {
            width: calc(100% - 2em);

            @include bp(l) {
              width: calc(100% - 1.2em);
            }

            @include bp(m) {
              width: calc(100% - 2em);
            }

            @include bp(xs) {
              width: calc(100% - 1.5em);
            }
          }
        }
      }
    }

    &-button {
      @include input-reset;
      width: 50px;
      height: 50px;
      padding: 0;
      position: relative;
      background-color: transparent;
      display: none;
      margin-left: auto;
      order: 1;
      z-index: 101;
      margin-right: 10px;

      @include bp(m) {
        display: block;
      }

      span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 1;
        transition: transform $header-transition-time, opacity $header-transition-time, width $header-transition-time, background-color $header-transition-time;

        &.top {
          transform: translate(-50%, -7px) rotate(0deg);
          transform-origin: left top;
        }

        &.middle {
          transform: translate(-50%, 0) rotate(0deg);
        }

        &.bottom {
          transform-origin: left bottom;
          transform: translate(-50%, 7px) rotate(0deg);
        }
      }

      &.open {

        span {
          background: $charcoal;

          &.top {
            transform: translate(-35%, -8px) rotate(45deg);
          }

          &.middle {
            opacity: 0;
          }

          &.bottom {
            transform: translate(-35%, 12px) rotate(-45deg);
          }
        }
      }
    }
  }

  &-shop {
    border-left: $white solid 1px;
    padding: 5px 40px 5px 25px;
    margin-left: 15px;
    transition: border-color $header-transition-time;

    @include bp(m) {
      border-left: 0;
      margin: 0;
      padding: 20px 0 0;
    }

    &-items {
      display: flex;
      flex-flow: row nowrap;
    }

    &-item {
      list-style-type: none;
      color: $white;
      font: 700 normal 13px/1.5 $sans-serif;
      letter-spacing: .07em;
      text-transform: uppercase;

      + .header-shop-item {
        margin-left: 30px;
      }

      a {
        display: block;
        position: relative;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        transition: opacity .2s, color $header-transition-time;;

        &:hover {
          opacity: .6;
          color: inherit;
        }
      }

      svg {
        height: 16px;
        width: 16px;
        fill: $white;
        margin-right: 10px;
        transition: fill $header-transition-time;
      }
    }

    &-cart {
      position: relative;

      &-count {
        position: absolute;
        left: calc(100% - 4px);
        top: -10px;
        background: $blue;
        border-radius: 20px;
        font-size: 10px;
        color: $white;
        padding: 0 5px;
        visibility: visible;
        transition: transform .2s;

        &.hide {
          transform: scale(0);
          visibility: hidden;
        }
      }
    }
  }
}
