//==============================
// Hero
//==============================

.hero {
  height: 80vh;
  min-height: 650px;
  background: transparent center bottom / cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include bp(m) {
    min-height: 0;
    height: 55vw;
  }

  @include bp(s) {
    height: 80vw;
  }

  &:after {
    content: '';
    @include fillcontainer;
    background: linear-gradient(to bottom, rgba(0,0,0,.6) 0, rgba(0,0,0,0) 70%);
  }

  h1 {
    position: relative;
    z-index: 2;
    color: $white;
    font: 200 normal 60px/1.2 $serif;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-shadow: 0 0 1.5em $black;

    @include bp(l) {
      font-size: 6vw;
    }
  }

  // &-secondary {
  //   height: 500px;
  //   min-height: 0;
  //   background: transparent center bottom / cover no-repeat;

  //   @include bp(m) {
  //     height: 400px;
  //   }

  //   @include bp(s) {
  //     height: 300px;
  //   }
  // }
}

.page-hero {
  height: 60vh;
  min-height: 0;
}