//==============================
// Hero
//==============================

.hero {
  height: 70vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;

  @include bp(m) {
    min-height: 350px;
    height: 55vw;
  }

  @include bp(s) {
    height: 80vw;
  }

  &:after {
    content: '';
    @include fillcontainer;
    background: linear-gradient(to bottom, rgba(0,0,0,.6) 0, rgba(0,0,0,0) 70%);
  }

  img {
    @include img-cover;
  }  
}

.page-hero {
  height: 50vh;
  min-height: 0;
}
