//==============================
// Intro
//==============================

.intro {
  text-align: center;
  padding: 120px calc(50% - 500px) 140px;
  background-color: $light-grey-bg;
  border-top: #ececec solid 1px;
  border-bottom: #ececec solid 1px;

  @include bp(l) {
    padding: 100px 10vw 120px;
  }

  @include bp(l) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &-logo {
    width: 280px;
    margin-bottom: 30px;

    @include bp(m) {
      width: 250px;
    }

    @include bp(s) {
      width: 180px;
    }
  }

  p a {
    border-bottom: #bbb solid 1px;
    transition: border-color .3s;

    &:hover {
      border-bottom-color: $black;
    }
  }
}
