//==============================
// Newsletter
//==============================

.newsletter {
  padding-bottom: 60px;

  &-title {
    font: 400 italic 44px/1 $serif;
    color: $white;
    text-align: center;
    margin-bottom: 5px;
  }

  .p1 {
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
    color: $white;
    line-height: 1.4;
  }

  form {
    margin: 10px auto 0;
    width: 100%;
    max-width: 700px;
  }

  legend,
  label,
  br {
    display: none;
  }

  #mc_embed_signup_scroll {
    display: flex;

    .mc-field-group {
      width: calc(100% - 150px) !important;

      @include bp(s) {
        width: calc(100% - 120px) !important;
      }
    }

    .clear:last-child {
      width: 150px;
      position: relative;
      background-color: $white;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 20%;
        border-left: #bbb solid 1px;
        height: 60%;
      }

      @include bp(s) {
        width: 120px;
      }
    }
  }

  input.email {
    @include input-reset;
    font: 400 normal 18px/1 $sans-serif !important;
    background-color: $white !important;
    border: 0 !important;
    width: 100%;
    height: 60px;
    padding: 1em 1.2em !important;
    font-size: 20px;
    color: $brown !important;

    @include bp(m) {
      font-size: 16px !important;
    }
  }

  input.button {
    @include input-reset;
    @include button;
    border-radius: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    color: $blue;
    padding: 0 !important;
    margin: 0;
    font-size: 16px;
    position: relative;

    @include bp(m) {
      font-size: 14px;
    }

    &:hover {
      background-color: darken($white, 10%) !important;
      cursor: pointer;
    }
  }
}
