//==============================
// Newsletter
//==============================

.newsletter {
  padding-bottom: 60px;

  &-title {
    font: 400 italic 44px/1 $serif;
    color: $white;
    text-align: center;
    margin-bottom: 5px;
  }

  .p1 {
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
    color: $white;
    line-height: 1.4;
  }

  form {
    margin: 10px auto 0;
    width: 100%;
    max-width: 700px;
  }

  legend,
  label,
  br {
    display: none;
  }

  fieldset {

    > div {
      float: left;
    
      // div with email field
      &:nth-child(4) {
        width: calc(100% - 150px) !important;
        // max-width: 400px !important;
      }
      
      // div with submit button
      &:nth-child(6) {
        width: 150px;
        // margin-left: 10px;
      }
    }
  }

  input#Email {
    @include input-reset;
    font: 400 normal 14px/1 $sans-serif;
    background-color: $white !important;
    border: 0 !important;
    width: 100%;
    height: 60px;
    padding: 1em !important;
    font-size: 20px;
    color: $brown !important;
  }

  button[type="submit"] {
    @include input-reset;
    @include button;
    border-radius: 0;
    width: 100%;
    height: 60px;
    background-color: $white;
    color: $blue;
    padding: 0 !important;
    margin: 0;

    &:hover {
      background-color: darken($white, 10%) !important;
      cursor: pointer;
    }

    span {
      display: block;
      border-left: #bbb solid 1px;
      padding: 13px 0 0 0;
      height: 40px;
    }
  }

  // p {
  //   color: $white;
  //   margin-top: 30px;
  //   min-height: 45px;
  // }
}
