//==============================
// Section Header
//==============================

.section-header {
  text-align: center;
  padding: 100px 100px 60px;

  @include bp(s) {
    padding-left: 40px;
    padding-right: 40px;
  }

  .title {
    position: relative;
    padding-bottom: 1em;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      border-bottom: 1px dashed $blue;
      width: 3em;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &.alt {
    background-color: $light-grey-bg;
  }
}
