//==============================
// Social
//==============================

.social {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 0;
  padding-left: 0;

  li {
    list-style-type: none;
    margin: 0 5px;
  }

  a {
    display: block;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-color .2s;
    border-radius: 3px;
    background-color: $blue;

    &:hover {
      // background-color: darken(#b7b7c2, 10%);
    }

    &.facebook {
      background-image: url('assets/images/global/facebook.svg');
      background-size: auto 50%;
    }

    &.instagram {
      background-image: url('assets/images/global/instagram.svg');
      background-size: auto 55%;
    }

    &.twitter {
      background-image: url('assets/images/global/twitter.svg');
      background-size: auto 45%;
    }
  }
}