//==============================
// Typography
//==============================

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

.headline {
  font: 100 normal 44px/1.2 $serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: $charcoal;
  margin: auto;
  max-width: 750px;

  @include bp(l) {
    font-size: 44px;
  }

  @include bp(m) {
    font-size: 36px;
  }

  @include bp(s) {
    font-size: 24px;
  }

  + p {
    margin-top: 1.5em;
  }
}

.title {
  font: 200 normal 34px/1.2 $serif;
  color: $charcoal;
  text-transform: uppercase;

  @include bp(m) {
    font-size: 30px;
  }

  @include bp(s) {
    font-size: 22px;
  }

  + p {
    margin-top: 1.5em;
  }
}

.subtitle {
  font: 400 normal 30px/1.5 $serif;
  color: $charcoal;
  text-transform: uppercase;

  @include bp(m) {
    font-size: 24px;
  }

  @include bp(s) {
    font-size: 22px;
  }

  + p,
  + ul {
    margin-top: 1em;
  }

  a {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: #ccc solid 1px;
    }
  }
}

.subtitle2 {
  font: 300 normal 18px/1.3 $monospace;
  color: $charcoal;
  letter-spacing: .02em;
  // text-transform: uppercase;
  color: $blue;

  @include bp(m) {
    font-size: 16px;
  }

  @include bp(s) {
    font-size: 13px;
  }

  + p {
    margin-top: 1em;
  }
}

@mixin text {
  font: 300 normal 15px/1.9 $monospace;
  letter-spacing: .02em;
  color: $charcoal;

  @include bp(l) {
    font-size: 14px;
  }

  @include bp(s) {
    line-height: 1.8;
  }

  @include bp(xs) {
    font-size: 13px;
  }
}

p,
ul {
  @include text;

  + .button {
    margin-top: 3em;
  }

  strong {
    font-weight: bold;
  }

  + p {
    margin-top: 1em;
  }
}

.text {
  @include text;

  + ul.text {
    margin-top: 1em;
  }
}

ul.text {
  margin-left: 1em;
}


a {
  color: currentColor;
  text-decoration: none;
  transition: color .2s;

  &.no-underline {

    &:hover {
      border-bottom: currentColor solid 1px;
      text-decoration: none;
    }
  }

  &.underline {
    text-decoration: underline;
  }
}
