//==============================
// Typography
//==============================

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

@mixin h1 {
  font: 300 normal 70px/1 $serif;
  // text-transform: uppercase;
  // letter-spacing: .05em;
  color: #b18a5e;

  @include bp(l) {
    font-size: 44px;
  }

  @include bp(m) {
    font-size: 36px;
  }

  @include bp(s) {
    font-size: 24px;
  }
}

.h1 {
  @include h1;
  margin: auto;
  // max-width: 750px;
  position: relative;
  // padding-bottom: .5em;
  margin-bottom: .4em;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   left: 50%;
  //   bottom: 0;
  //   transform: translateX(-50%);
  //   width: 2em;
  //   border-bottom: 2px solid currentColor;
  // }

  + p {
    margin-top: 2em;
  }
}

@mixin h2 {
  font: 300 normal 54px/1.1 $serif;
  color: #b18a5e;
  // text-transform: uppercase;
  // letter-spacing: .05em;

  @include bp(m) {
    font-size: 30px;
  }

  @include bp(s) {
    font-size: 22px;
  }
}

.h2 {
  @include h2;

  + p {
    margin-top: 1em;
  }
}

@mixin h3 {
  font: 600 normal 44px/1.2 $sans-serif;
  color: $charcoal;
  // text-transform: uppercase;

  @include bp(m) {
    font-size: 24px;
  }

  @include bp(s) {
    font-size: 22px;
  }
}

.subtitle {
  @include h3;

  + p,
  + ul {
    margin-top: 1em;
  }

  a {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: #ccc solid 1px;
    }
  }
}

@mixin h4 {
  font: 400 normal 24px/1.3 $sans-serif;
  color: $charcoal;
  // letter-spacing: .02em;
  // text-transform: uppercase;

  @include bp(m) {
    font-size: 16px;
  }

  @include bp(s) {
    font-size: 13px;
  }
}

.subtitle2 {
  @include h4;

  + p {
    margin-top: 1em;
  }
}

@mixin p1 {
  font: 300 normal 18px/1.7 $sans-serif;
  letter-spacing: .02em;
  color: $charcoal;

  @include bp(l) {
    font-size: 14px;
  }

  @include bp(s) {
    line-height: 1.8;
  }

  @include bp(xs) {
    font-size: 13px;
  }
}

p,
ul {
  @include p1;

  + .button {
    margin-top: 3em;
  }

  strong {
    font-weight: bold;
  }

  + p {
    margin-top: 1em;
  }
}

.p1 {
  @include p1;

  + ul.p1 {
    margin-top: 1em;
  }
}

ul.p1 {
  margin-left: 1em;
}


a {
  color: currentColor;
  text-decoration: none;
  transition: color .2s;

  &.no-underline {

    &:hover {
      border-bottom: currentColor solid 1px;
      text-decoration: none;
    }
  }

  &.underline {
    text-decoration: underline;
  }
}
