//==============================
// Vintage Chart
//==============================

.chart {

  &-wrap {
    width: 100%;
    overflow: auto;
  }

  &-table {
    white-space: nowrap;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    @include bp(l) {
      width: auto;
      table-layout: fixed;
    }

    thead {

      th {
        z-index: 1;
        left: 0;
        border-top: $charcoal solid 1px;

        @include bp(l) {
          position: sticky;
        }

        &:first-child {
          z-index: 2;
          border-left: $charcoal solid 1px;
        }
      }
    }

    tbody {

      th {
        z-index: 1;
        left: 0;
        font-weight: normal;

        @include bp(l) {
          position: sticky;
        }

        &:first-child {
          border-left: $charcoal solid 1px;
        }
      }
    }

    th,
    td {
      padding: .3em .6em .35em;
      border-right: $charcoal solid 1px;
      border-bottom: $charcoal solid 1px;

      &:not(:first-child) {
        text-align: center !important;
        font-size: 14px;
      }
    }
  }

  &-vintage {
    font-weight: bold;
    text-align: center !important;
  }

  &-maturity {

    &-option1 {
      background-color: #a3201d;
    }

    &-option2 {
      background-color: #3d4751;
    }

    &-option3 {
      background-color: #607d1e;
    }

    &-option4 {
      background-color: #ad8b60;
    }

    &-option5 {
      background-color: #7c644b;
    }

    &-option6 {
      background-color: #dcdcdc;
    }
  }

  &-key {
    margin: 40px 0 0 0 !important;
    padding: 0 !important;

    &-item {
      display: flex;
      list-style-type: none;
      align-items: center;
      margin: 0;
      padding: 0;

      + .chart-key-item {
        margin-top: .5em;
      }

      &-maturity {
        width: 3.5em;
        height: 2.5em;
      }

      &-description {
        width: calc(100% - 60px);
        padding-left: 15px;
        padding-bottom: 2px;
        line-height: 1.3;
      }
    }
  }
}
