//==============================
// Contact Form
//==============================

.contact-form {
  margin-top: 100px;

  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &-row {
    margin-bottom: 10px;

    &.one-half {
      width: calc(50% - 5px);
    }

    &.full {
      width: 100%;
    }

    &.submit {
      margin-top: 20px;
      text-align: center;
    }
  }
}
