//==============================
// Feature
//==============================

.feature {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  &-wrap {

    .feature {

      &:nth-child(even) .feature-img {
        order: -1;

        @include bp(s) {
          order: inherit;
        }
      }
    }
  }

  &-img {
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include bp(s) {
      width: 100%;
      height: 70vw;
    }

    &-slide {
      height: 100%;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    .slick-list,
    .slick-track {
      height: 100%;
    }
  }

  &-content {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10vw;

    @include bp(s) {
      width: 100%;
    }

    .slick-slider {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
    }

    .slick-dots {
      order: -1;
      display: flex;
      flex-flow: row nowrap;

      li {
        list-style-type: none;
        margin-right: 10px;
      }

      button {
        @include input-reset;
        background-color: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: #ccc solid 1px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
