//==============================
// Header
//==============================

.header {
  position: absolute;
  width: calc(100% - 80px);
  max-width: 1200px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-bottom: transparentize($white, .7) solid 1px;
  z-index: 2;


  &-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    &-items {
      display: flex;
      flex-flow: row nowrap;
    }

    &-item {
      list-style-type: none;
      margin-left: 10px;

      a {
        padding: 40px 10px;
        display: block;
        text-align: center;
        position: relative;
        font: 400 normal 12px/1.5 Helvetica;
        letter-spacing: .15em;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        transition: color .2s;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 100%;
          border-bottom: $white solid 1px;
          opacity: 0;
          transition: opacity .2s;
        }

        &:hover {

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}
