//==============================
// Hero
//==============================

.hero {
  height: 600px;
  background: #ccc url('assets/images/home/hero.jpg') center center / cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    @include fillcontainer;
    background: linear-gradient(to bottom, rgba(42,107,145,0.8) 0%,rgba(42,107,145,0) 100%);
  }
}
