//==============================
// Hero
//==============================

.hero {
  height: 80vh;
  min-height: 800px;
  background: transparent center center / cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include bp(m) {
    min-height: 0;
    height: 70vw;
  }

  &:after {
    content: '';
    @include fillcontainer;
    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0,rgba(0,0,0,0) 200px);
    // background: rgba(42,107,145,1);
  }

  h1 {
    position: relative;
    z-index: 2;
    color: $white;
    font: 200 normal 70px/1.2 $serif;
    // text-transform: uppercase;
    // letter-spacing: .1em;
  }
}
