//==============================
// Hero
//==============================

.hero {
  height: 600px;
  background: transparent center center / cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    @include fillcontainer;
    background: linear-gradient(to bottom, rgba(109,111,83,.8) 0%,rgba(109,111,83,.4) 100%);
    // background: rgba(42,107,145,1);
  }

  h1 {
    position: relative;
    z-index: 2;
    color: $white;
    font: 200 normal 70px/1.2 $serif;
    // text-transform: uppercase;
    // letter-spacing: .1em;
  }
}
