//==============================
// Intro
//==============================

.intro {
  text-align: center;
  padding: 150px calc(50% - 450px);
  background-color: #fcfcfc;
  border-top: #ececec solid 1px;
  border-bottom: #ececec solid 1px;
}
