//==============================
// Intro
//==============================

.intro {
  text-align: center;
  padding: 150px calc(50% - 450px);
  background-color: $light-grey-bg;
  border-top: #ececec solid 1px;
  border-bottom: #ececec solid 1px;

  @include bp(l) {
    padding: 120px 10vw;
  }

  @include bp(l) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &-logo {
    width: 280px;
    margin-bottom: 30px;

    @include bp(m) {
      width: 250px;
    }

    @include bp(s) {
      width: 180px;
    }
  }
}
