//==============================
// Newsletter
//==============================

.newsletter {
  width: 100%;
  background: #f2f2ee url('assets/images/global/newsletter.jpg') center center / cover no-repeat;
  text-align: center;
  padding: 150px 0;

  @include bp(m) {
    padding: 120px 0;
  }

  @include bp(s) {
    padding: 80px 30px;
  }

   @include bp(xs) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .subtitle {
    color: $white;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
  }

  input[type="email"] {
    @include input-reset;
    font: 400 normal 13px/1 $monospace;
    background-color: $white;
    width: calc(100% - 170px);
    max-width: 400px;
    border: 0 !important;

    @include bp(m) {
      width: calc(100% - 110px) !important;
    }
  }

  input[type="submit"] {
    border-radius: 0;
    width: 110px;
  }
}
