//==============================
// Newsletter
//==============================

.newsletter {
  width: 100%;
  background: #f2f2ee url('assets/images/global/newsletter.jpg') center center / cover no-repeat;
  text-align: center;
  padding: 115px 0 158px;

  @include bp(m) {
    padding: 80px 40px 143px;
  }

  @include bp(s) {
    padding: 60px 30px 133px;
  }

   @include bp(xs) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    color: $white;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
  }

  input[type="email"] {
    @include input-reset;
    font: 400 normal 15px/1 $serif;
    background-color: $white;
    width: calc(100% - 170px);
    max-width: 400px;
    border: 0 !important;

    @include bp(m) {
      width: calc(100% - 140px);
      margin-right: 10px;
    }

    @include bp(xs) {
      width: calc(100% - 110px);
    }
  }

  input[type="submit"] {
    border-radius: 0;
  }
}
