//==============================
// Section Header
//==============================

.section-header {
  text-align: center;
  padding: 100px 100px 60px;
  border-top: $light-grey-border solid 1px;

  .title {
    position: relative;
    padding-bottom: 1em;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      border-bottom: 1px solid $blue;
      width: 1.5em;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &.alt {
    background-color: $light-grey-bg;
  }
}
