//==============================
// Video Gallery
//==============================

.video-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 80px);
  max-width: 1600px;
  margin: 0 auto 80px;

  @include bp(s) {
    width: calc(100% - 40px);
  }

  &-item {
    width: calc(50% - $video-gutter);
    margin-bottom: 60px;

    @include bp(s) {
      width: 100%;
      margin-bottom: 40px;
      margin-right: 0;
    }

    .fluid-width-video-wrapper {
      margin-bottom: 20px;
      border-radius: $border-radius;
      overflow: hidden;
    }
  }
}
