//==============================
// Video
//==============================

.video {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 80px);
  max-width: 1200px;
  margin: 60px auto;

  @include bp(s) {
    width: calc(100% - 40px);
    margin: 40px auto;
  }
}
