//==============================
// Mixins
//==============================

// Breakpoints
@mixin bp($bp) {
  // @if $bp == xxl {
  //   @media only screen and (min-width: 1501px) { @content; }
  // }
  @if $bp == xl {
    @media only screen and (max-width: 1600px) { @content; }
  }
  @if $bp == l {
    @media only screen and (max-width: 1200px) { @content; }
  }
  @if $bp == m {
    @media only screen and (max-width: 1023px) { @content; }
  }
  @if $bp == s {
    @media only screen and (max-width: 767px) { @content; }
  }
  @if $bp == s-up {
    @media only screen and (min-width: 768px) { @content; }
  }
  @if $bp == xs {
    @media only screen and (max-width: 480px) { @content; }
  }
  @if $bp == xxs {
    @media only screen and (max-width: 340px) { @content; }
  }
  @if $bp == retina {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
  }

  @if $bp == m-up {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

// Font declaration
@mixin font($font, $file, $weight, $style) {
  @font-face {
    font-family: '#{$font}';
    src: url('assets/fonts/#{$file}');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin placeholder($autofill-bg, $autofill-color) {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $autofill-bg inset;
    -webkit-text-fill-color: $autofill-color !important;
  }
}

@mixin fillcontainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@mixin centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin button {
  font-family: $sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  letter-spacing: .15em !important;
  border: 0;
  display: inline-block !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  transition: background-color .2s, color .2s !important;
  text-align: center !important;
}

@mixin hide {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin link-underline-on-hover {
  color: inherit;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 110%;
    left: auto;
    right: 0;
    width: 0;
    transition: width .3s;
    border-bottom: currentColor solid 1px;
  }

  &:hover {

    &:after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

@mixin img-mask($url) {
  -webkit-mask-image: url($url);
  mask-image: url($url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
