//==============================
// Variables
//==============================


// Colors
//------------------------------

$selection: #b3d4fc;

$white: #fff;
$black: #000;
$blue: #554d99;

$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', Helvetica, Arial, sans-serif;
