//==============================
// Variables
//==============================


// Colors
//------------------------------

$selection: #b3d4fc;

$white: #fff;
$black: #000;
$charcoal: #333;
$blue: #466E7F;
$light-grey-bg: #fcfcfc;

$sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$serif: 'Roboto Slab', Georgia, Times New Roman, Times, serif;
