//==============================
// Variables
//==============================


// Colors
//------------------------------

$selection: #b3d4fc;

$white: #fff;
$black: #000;
$charcoal: #333;
$blue: #466E7F;
$brown: #7F644A;
$light-grey-bg: #f7f7f7;
$light-grey-border: #eee;

$sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$serif: 'Roboto Slab', Georgia, Times New Roman, Times, serif;
