//==============================
// Cart
//==============================

.cart {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  hr {
    display: none;
  }

  #v65-cartHeader {
    margin-top: 40px;
    padding-top: 40px;
    @include wd-border(top);
    order: 1;
    display: flex;
    justify-content: space-between;

    @include bp(s) {
      flex-flow: column nowrap;
      align-items: center;
    }

    legend {
      display: none;
    }

    fieldset div {
      display: flex;
      flex-flow: row nowrap;
    }

    #v65-CouponCode {
      @include input-reset;
      @include p1;
      padding: .3em .7em;

      @include bp(xxs) {
        width: 140px;
      }
    }

    .modalBtn {
      @include wd-button-filled;
    }
  }

  .v65-cartCheckOutButtons {

    @include bp(m) {
      display: flex;
      flex-flow: column-reverse nowrap;
      align-items: flex-end;
    }

    @include bp(s) {
      align-items: center;
      margin-top: 60px;
    }

    .linkAltBtn {
      @include wd-button-small;
      margin-right: 60px;
      
      @include bp(m) {
        margin-right: 0;
        margin-top: 40px;
      }
    }

    .largeLinkBtn {
      @include wd-button;
    }
  }

  #v65-couponSummaryTable {
    margin: 60px auto 0;
    width: 100%;
    max-width: 500px;
    @include wd-darken-bg;
    padding: 40px 40px 30px;

    @include bp(s) {
      padding: 20px 20px 10px;
      max-width: 400px;
    }

    th {
      padding-bottom: 15px;
    }

    td {
      padding-bottom: 10px;
      display: block;
    }
  }

  #v65-cartTable {
    margin-top: 60px;

    .alert {
      @include wd-darken-bg;
      padding: 20px 30px;
      margin-bottom: 20px;

      @include bp(s) {
        padding: 10px 20px;
      }
    }

    .v65-cartItem {

      td {
        padding: 2em 20px 2em 0;
      }
    }

    th {
      @include wd-border(bottom);
      padding: 2em 20px 2em 0;

      &.v65-cartItemAmount {

        @include bp(s) {
          display: none;
        }
      }
    }

    td,
    th {
      display: block;

      &:last-child {
        padding-right: 0;
      }
    }

    .v65-cartItemAmount {
      width: 17%;
      order: 2;

      @include bp(s) {
        width: 20%;
      }
    }

    .v65-cartItemImage {
      width: 15%;
      order: 1;

      @include bp(s) {
        width: 20%;
      }

      img {
        height: 160px;
        display: block;
        margin: 0 auto;

        @include bp(m) {
          height: 100px;
        }
      }
    }

    .v65-cartItemDescription {
      width: 25%;
      order: 1;

      @include bp(s) {
        width: 40%;
      }

      &[colspan="2"] {
        width: 40%;

        @include bp(s) {
          width: 80%;
        }
      }

      a[data-sku] {
        display: block;
        color: currentColor;
        text-decoration: none;
      }

      .v65-cartItemDescription-sku {

        @include bp(s) {
          font-size: 80%;
        }
        
        br,
        .small {
          display: none;
        }
      }

      .v65-cartRemoveButton {
        @include wd-button-small;
      }
    }

    .v65-cartItemAvailability {
      width: 21%;
      order: 3;

      @include bp(s) {
        display: none;
      }
    }

    .v65-cartItemInStock {
      width: 21%;
      order: 3;

      @include bp(s) {
        display: none;
      }
    }

    .v65-cartItemPrice {
      width: 11%;
      order: 4;

      @include bp(s) {
        display: none;
      }
    }

    .v65-cartItemTotal {
      width: 11%;
      order: 5;

      @include bp(s) {
        width: 20%;
      }
    }

    .modalBtn {
      @include wd-button-small;
      margin: 0 auto;
    }
  }

  .v65-qtyField {
    @include input-reset;
    @include wd-text;
    background-color: $white;
    width: 44px;
    text-align: center;
    padding: 1em .5em;
    margin-bottom: 5px;
    color: $wd-color-dark;

    @include bp(s) {
      width: 40px;
      padding: .75em .5em;
    }
  }

  #v65-cartSubtotal,
  .v65-cartTax,
  #v65-cartTotal {
    
    td {
      width: 15%;
      padding-top: 5px;
      padding-bottom: 5px;

      @include bp(s) {
        width: 0;
      }

      &:nth-child(5) {
        width: 29%;

        @include bp(s) {
          width: 80%;
        }
      }

      &:last-child {
        width: 11%;

        @include bp(s) {
          width: 20%;
        }
      }
    }
  }

  #v65-cartStateCode {
    width: auto;
  }

  #v65-cartSubtotal {
    
    td {
      @include wd-border(top);
      padding-top: 2em;
    }
  }

  #v65-cartFooter {
    display: none;
  }
}
