//==============================
// Modal Cart
//==============================

#v65-modalCart,
.v65-widgetModalCart-dropdown {
  position: fixed;
  // top: 80px;
  // right: 29px;
  top: 90px;
  right: 70px;
  z-index: 200;
  width: 500px;

  @include bp(m) {
    top: 50px;
    right: 15px;
    width: 400px;
    max-width: calc(100% - 30px);
  }
}

[v65remotejs="modalCart"] {
  position: relative;
  z-index: 200;
}

#v65-toggleModalCart,
.v65-widgetModalCart-status {
  display: none;
}

#v65-modalCartDropdown {
  width: 100%;
}

#v65-modalCartDropdown,
.v65-widgetModalCart-dropdown {
  padding: 70px 40px 30px;
  background: #f5f5f5;
  box-shadow: 0 0 40px rgba(0,0,0,.2);
  display: none;

  @include bp(s) {
    padding: 60px 25px 15px;
  }
}

#v65-modalCartBody,
.v65-widgetModalCart-dropdown {
    
  // close button
  > p:first-child .modalLinkAltBtn,
  .v65-widgetModalCart-closeButton a {
    @include wd-close-button;
  }

  .v65-additionalItemsMessage,
  .v65-widgetModalCart-itemMessage,
  .v65-widgetModalCart-itemMessageBottom {
    @include wd-text;
    color: $black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;

    @include bp(s) {
      font-size: 11px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  > p:last-child,
  .v65-widgetModalCart-BottomButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    .modalLinkAltBtn,
    .modalLinkBtn,
    .v65-widgetModalCart-viewCartButton a,
    .v65-widgetModalCart-checkOutButton a {
      @include button;
      font-size: 14px;
      padding: .8em 1.4em;
      margin: 0 5px;
      height: auto;
      background-color: transparent;
      border-style: solid;
      border-width: 2px;
      color: $blue;
      border-color: $blue;

      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }
}

#v65-itemAddedText,
.v65-widgetModalCart-itemMessage {
  @include wd-text;
  color: $black;
  @include wd-darken-bg;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;

  @include bp(s) {
    font-size: 11px;
  }
}

#v65-modalCartTable,
.v65-widgetModalCart-itemSummary {
  width: 100%;

  th,
  .v65-widgetModalCart-itemSummaryHeader {
    display: none;
  }

  tr:nth-child(2),
  .v65-widgetModalCart-items {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    td,
    > div {
      text-align: center;
      display: block;

      // Qty
      &:nth-child(1) {
        @include wd-text;
        color: $black;
        order: 3;

        &:before {
          content: 'Qty: ';
        }
      }

      // Image
      &:nth-child(2) {
        order: 1;
        padding-bottom: 20px;

        img {
          height: 200px;

          @include bp(s) {
            height: 120px;
          }
        }
      }

      // Title
      &:nth-child(3) {
        @include wd-title2;
        // color: $gold;
        order: 2;
        padding-bottom: 10px;

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      // Price - x1
      &:nth-child(4) {
        display: none;
      }

      // Price - xQty
      &:nth-child(5) {
        order: 4;
        @include wd-text;
        color: $black;
      }
    }
  }

  #v65-modalCartTableSubtotal,
  .v65-widgetModalCart-itemSummarySubTotal {
    display: flex;
    flex-flow: row nowrap;

    td {
      width: 50%;
      @include wd-border(top);
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      @include wd-text;
      color: $black;
      font-weight: 700;
      display: block;

      // Blank
      &:nth-child(1) {
        display: none;
      }

      // Subtotal text
      &:nth-child(2) {
        text-align: right;
        padding-right: 5px;

        &:after {
          content: ':';
        }
      }

      // Subtotal price
      &:nth-child(3) {
        text-align: left;
      }
    }
    
    .v65-widgetModalCart-itemSummarySubTotalLabel,
    .v65-widgetModalCart-itemSummarySubTotalValue {
      width: 50%;
      @include wd-border(top);
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      @include wd-text;
      color: $black;
      font-weight: 500;
      display: block;
      background-color: transparent;
    }

    .v65-widgetModalCart-itemSummarySubTotalLabel {
      text-align: right;
      padding-right: 5px;

      &:after {
        content: ':';
      }
    }

    .v65-widgetModalCart-itemSummarySubTotalValue {
      text-align: left;
    }
  }
}

