//==============================
// About
//==============================

.about {

  &-winemaker {
    background: $light-grey-bg url('assets/images/global/rough-texture.jpg') center bottom / cover no-repeat;
  }

  &-team {
    background: $white;

    &-header {
      padding: 100px 0 40px;
      width: calc(100% - 80px);
      max-width: 1600px;
      margin: 0 auto;
      text-align: center;

      h1 {
        font: 300 normal 80px/1 $serif;
        color: #b18a5e;
        position: relative;
        // top: 50px;
        z-index: 2;
      }
    }

    &-items {
      display: flex;
      flex-flow: row wrap;
      width: calc(100% - 80px);
      max-width: 1600px;
      margin: 0 auto;
    }

    &-item {
      width: calc((100% / 4) - 40px);
      margin: 0 40px 60px 0;
      text-align: center;

      // img {
      //   -webkit-mask-image: url('assets/images/global/card-9.svg');
      //   mask-image: url('assets/images/global/card-9.svg');
      //   -webkit-mask-repeat: no-repeat;
      //   mask-repeat: no-repeat;
      // }

      &:nth-child(1) {

        img {
          -webkit-mask-image: url('assets/images/about/team-member-mask-1.svg');
          mask-image: url('assets/images/about/team-member-mask-1.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &:nth-child(2) {

        img {
          -webkit-mask-image: url('assets/images/about/team-member-mask-2.svg');
          mask-image: url('assets/images/about/team-member-mask-2.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &:nth-child(3) {

        img {
          -webkit-mask-image: url('assets/images/about/team-member-mask-3.svg');
          mask-image: url('assets/images/about/team-member-mask-3.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &:nth-child(4) {

        img {
          -webkit-mask-image: url('assets/images/about/team-member-mask-4.svg');
          mask-image: url('assets/images/about/team-member-mask-4.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &-img {
        overflow: hidden;
        height: 25vw;
        margin-bottom: 20px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .h3 {
        color: $gold;
      }

      p {
        color: $blue;
      }
    }

    &-group {

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  &-labels {

    &-header {
      padding: 200px 0 40px;
      width: calc(100% - 80px);
      max-width: 1500px;
      margin: 0 auto;
      text-align: center;

      h1 {
        // font: 300 normal 120px/1 $serif-display;
        font: 300 normal 80px/1 $serif;
        // color: $beige;
        position: relative;
        z-index: 2;
      }
    }

    &-main {
      // background: $blue url('assets/images/global/leaf-texture-2.jpg') center center / cover no-repeat;
      // padding-bottom: 100px;
      
      &-wrap {
        width: calc(100% - 80px);
        max-width: 1600px;
        margin: 0 auto;
      }

      &-items {
        display: flex;
        flex-flow: row wrap;
      }

      &-img {
        height: 600px;
        overflow: hidden;

        img {
          @include img-cover;
        }
      }

      &-item {
        width: 50%;
        padding: 40px 80px;
        margin: 80px 0;
        text-align: center;
        // border-left: #aaa dashed 1px;
        // border-bottom: #aaa dashed 1px;

        &:first-child {
          border-right: #aaa dashed 1px;
        }

        p {
          // color: $white;
        }
      }
    }

    &-sub {
      // background: $blue;
      background: darken($white, 5%);
      // background: darken($white, 5%) url('assets/images/visit/ohana-bg.svg') center top / 100% 5vw no-repeat;
      position: relative;
      padding: 100px 0 300px;

      &-item {
        width: calc(100% - 80px);
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        // top: -60px;

        + .about-labels-sub-item {
          margin-top: 80px;
        }

        // .h2 {
        //   color: $beige;
        // }

        // p {
        //   color: $white;
        // }
      }

      &-img {
        width: 50%;
        overflow: hidden;

        img {
          @include img-cover;
        }
      }

      &-content {
        width: 50%;
        padding: 80px;
      }
    }

    &-logo {
      display: block;
      height: 50px;
      width: auto;
      margin: 0 auto 40px;
    }

    &-gallery {
      // background-color: #fefce9;
      background: darken($white, 5%);
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-color: #fefce9;
        z-index: 1;
      }
      
      img {
        display: block;
        width: 100%;
        height: auto;
        -webkit-mask-image: url('assets/images/global/large-image-mask-2.svg');
        mask-image: url('assets/images/global/large-image-mask-2.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        position: relative;
        z-index: 2;
      }
    }
  }

  &-planet {
    background: #fefce9;
    padding-top: 80px;

    &-intro {

      .intro-content {
        padding-top: 100px;
        padding-bottom: 0;

        @include bp(m) {
          padding-top: 60px;
          padding-bottom: 40px;
        }
      }

      &-img {
        width: 50%;
        max-width: 700px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include bp(m) {
          order: -1;
          padding-top: 60px;
        }

        img {
          display: block;
          width: 100%;
          max-width: 350px;

          @include bp(l) {
            max-width: 300px;
          }

          @include bp(m) {
            max-width: 250px;
          }

          @include bp(s) {
            max-width: 200px;
          }
        }
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
