//==============================
// About
//==============================

.about {

  &-winemaker {
    background: $light-grey-bg url('assets/images/global/rough-texture.jpg') center bottom / cover no-repeat;
  }

  &-team {
    background: $white;

    &-header {
      padding: 0 0 40px;
      width: calc(100% - 80px);
      max-width: 1600px;
      margin: 0 auto;
      text-align: center;

      @include bp(m) {
        padding: 80px 0 10px;
      }

      @include bp(s) {
        padding: 100px 0 10px;
      }
    }

    &-items {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: calc(100% - 120px);
      max-width: 1600px;
      margin: 0 auto;

      @include bp(s) {
        width: calc(100% - 40px);
      }
    }

    &-item {
      width: calc((100% / 4) - (#{$team-gutter * 3} / 4));
      margin-right: $team-gutter;
      margin-bottom: 60px;
      text-align: center;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-child(2n) {

        @include bp(m) {
          margin-right: 0;
        }
      }

      @include bp(m) {
        width: calc(50% - (#{$grid-gutter} / 2));
        margin-right: $grid-gutter;
        margin-bottom: 40px;
      }

      &:nth-child(1) {

        img {
          -webkit-mask-image: url('assets/images/about/team-mask-1.svg');
          mask-image: url('assets/images/about/team-mask-1.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &:nth-child(2) {

        img {
          -webkit-mask-image: url('assets/images/about/team-mask-2.svg');
          mask-image: url('assets/images/about/team-mask-2.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &:nth-child(3) {

        img {
          -webkit-mask-image: url('assets/images/about/team-mask-3.svg');
          mask-image: url('assets/images/about/team-mask-3.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &:nth-child(4) {

        img {
          -webkit-mask-image: url('assets/images/about/team-mask-4.svg');
          mask-image: url('assets/images/about/team-mask-4.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }

      &-img {
        overflow: hidden;
        height: 500px;
        margin-bottom: 20px;

        @include bp(xl) {
          height: 25vw;
        }

        @include bp(m) {
          height: 50vw;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .h3 {
        color: $gold;
      }

      p {
        color: $blue;
      }
    }

    &-group {

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }


  &-labels {

    &-header {
      padding: 200px 0 40px;
      width: calc(100% - 80px);
      margin: 0 auto;
      text-align: center;

      @include bp(m) {
        padding: 100px 0 20px;
      }
    }

    &-main {
      background: $white url('assets/images/about/labels-bg.jpg') center center / cover no-repeat;
      
      &-wrap {
        width: calc(100% - 80px);
        max-width: 1600px;
        margin: 0 auto;

        @include bp(m) {
          width: calc(100% - 40px);
        }
      }

      &-img {
        height: 600px;
        overflow: hidden;

        @include bp(xl) {
          height: 40vw;
        }

        img {
          @include img-cover;
          position: relative;
          width: 110%;
          height: 120%;
          left: -5%;
        }
      }

      &-items {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        position: relative;
        // border-bottom: #aaa dashed 1px;

        &:after {
          content: '';
          position: absolute;
          border-bottom:  #aaa dashed 1px;
          width: 0;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          transition: width 1s 1s;
        }

        &.animate {
          
          .about-labels-main-item:first-child:after {
            height: 100%;
          }

          &:after {
            width: 100%;
          }
        }

        @include bp(s) {
          padding: 0;
          justify-content: center;
        }
      }

      &-item {
        width: 50%;
        padding: 80px;

        @include bp(l) {
          padding: 20px 40px;
        }

        @include bp(s) {
          width: 100%;
          padding: 60px 10px;
          max-width: 500px;
        }

        &:first-child {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            border-right:  #aaa dashed 1px;
            height: 0;
            right: 0;
            top: 0;
            transition: height 1s;
          }
          // border-right: #aaa dashed 1px;

          // @include bp(s) {
          //   border-right: 0;
          //   border-bottom: #aaa dashed 1px;
          // }
        }
      }
    }

    &-sub {
      // background: darken($white, 5%);
      position: relative;
      padding: 100px 0 170px;
      display: flex;
      flex-flow: row wrap;
      width: calc(100% - 80px);
      max-width: 1240px;
      margin: 0 auto;

      @include bp(m) {
        padding-bottom: 200px;
      }

      @include bp(s) {
        padding-bottom: 50px;
      }

      &-item {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        width: calc(50% - (30px / 2));
        margin-right: 30px;
        margin-bottom: 30px;
        background-color: darken($white, 5%);

        @include bp(s) {
          width: 100%;
          max-width: 500px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      &-img {
        // width: 100%;
        height: 300px;
        overflow: hidden;

        @include bp(s) {
          width: 100%;
          order: -1;
        }

        img {
          @include img-cover;
        }
      }

      &-content {
        // width: 50%;
        padding: 50px 50px 60px;

        @include bp(m) {
          padding: 40px;
        }

        @include bp(s) {
          width: 100%;
          padding: 40px 10px;
        }
      }
    }

    &-logo {
      display: block;
      height: 50px;
      width: auto;
      margin: 0 0 40px;

      @include bp(m) {
        height: 30px;
        margin-bottom: 20px;
      }
    }

    &-gallery {
      background: $white;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-color: #fefce9;
        z-index: 1;
      }

      &-mask {
        -webkit-mask-image: url('assets/images/about/labels-gallery-mask.svg');
        mask-image: url('assets/images/about/labels-gallery-mask.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        position: relative;
        z-index: 2;
      }
      
      img {
        display: block;
        width: 100%;
        height: auto;
        
        position: relative;
        z-index: 2;
      }
    }
  }

  &-planet {
    background: #fefce9;
    padding-top: 80px;

    @include bp(s) {
      padding-top: 40px;
    }

    &-intro {

      .intro-content {
        padding-top: 100px;
        padding-bottom: 0;

        @include bp(m) {
          padding-top: 60px;
          padding-bottom: 40px;
        }
      }

      &-img {
        width: 50%;
        max-width: 700px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include bp(m) {
          order: -1;
          padding-top: 60px;
        }

        img {
          display: block;
          width: 100%;
          max-width: 350px;

          @include bp(l) {
            max-width: 300px;
          }

          @include bp(m) {
            max-width: 250px;
          }

          @include bp(s) {
            max-width: 200px;
          }
        }
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
