//==============================
// Club
//==============================

.club {

  &-intro {
    background: $blue url('assets/images/club/intro-bg.jpg') center center / cover no-repeat;
  }

  &-benefits {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 100px 0 0 0;

    &-img {
      width: 40%;
    }

    &-content {
      width: 40%;
      padding: 200px 80px 200px 80px;

      ul {
        margin-left: .5em;
      }
    }
  }
}
