//==============================
// Club
//==============================

.club {

  &-intro {
    background: $blue url('assets/images/global/topography-bg-1.png') center center / cover no-repeat;
    padding-bottom: 100px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10%;
      background: transparent url('assets/images/club/club-intro-mask.svg') center bottom / 100% 100% no-repeat;
      z-index: 1;
    }
  }

  &-benefits {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 200px auto 100px;
    width: calc(100% - 80px);
    max-width: 1600px;
    position: relative;
    z-index: 3;

    @include bp(s) {
      width: calc(100% - 40px);
      margin-top: 100px;
    }

    &-img {
      width: 50%;
      overflow: hidden;

      @include bp(m) {
        width: 100%;
      }

      img {
        @include img-cover;
      }
    }

    &-content {
      width: 50%;
      padding: 200px 80px 200px 100px;
      background-color: darken($white, 5%);

      @include bp(l) {
        padding: 150px 60px 150px 80px;
      }

      @include bp(m) {
        width: 100%;
        padding: 80px;
      }

      @include bp(s) {
        padding: 60px 40px;
      }

      ul {
        margin: 1em 0 0 1.5em;
      }
    }
  }
}
