//==============================
// Commerce7
//==============================

.c7 {

  &-page {
    padding: 100px 0;
  }

  &-h1 {
    font: 500 normal 44px/1.1 $serif !important;
    color: $gold !important;
    letter-spacing: -.01em;

    @include bp(xl) {
      font-size: 50px !important;
    }

    @include bp(l) {
      font-size: 44px !important;
    }

    @include bp(m) {
      font-size: 44px !important;
    }

    @include bp(s) {
      font-size: 34px !important;
    }
  }

  &-h2 {
    font: 500 normal 30px/1.1 $serif !important;
    color: $blue !important;
    letter-spacing: -.01em !important;
    text-transform: none !important;

    @include bp(xl) {
      font-size: 28px !important;
    }

    @include bp(l) {
      font-size: 26px !important;
    }

    @include bp(m) {
      font-size: 24px !important;
    }

    @include bp(s) {
      font-size: 22px !important;
    }
  }

  &-btn--primary {
    @include button;
    font-size: 14px !important;
    color: $white !important;
    background-color: $blue !important;
    border-color: $blue !important;
    border-radius: 0 !important;
    align-content: center !important;

    &:hover,
    &:focus,
    &:active {
      background-color: $gold !important;
      color: $white !important;
    }
  }

  &-btn--primary--small {
    @include button;
    font-size: 12px !important;
    color: $white !important;
    background-color: $blue !important;
    border-color: $blue !important;
    border-radius: 0 !important;
    align-content: center !important;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;

    &:hover,
    &:focus,
    &:active {
      background-color: $gold !important;
      color: $white !important;
    }
  }

  &-btn--alt {
    @include button;
    font-size: 14px !important;
    background-color: transparent !important;
    border-style: solid !important;
    border-width: 2px !important;
    color: $blue !important;
    border-color: $blue !important;
    border-radius: 0 !important;
    align-content: center !important;

    &:hover {
      background-color: $blue !important;
      color: $white !important;
    }
  }

  &-btn--alt--small {
    @include meta;
  }

  &-form__field {
    @include p1;
  }

  &-user-nav__account__dropdown {
    text-transform: none;

    p {
      line-height: 1.2;
    }
  }

  &-user-nav__account__dropdown__header span {
    margin-left: 20px;
  }

  &-account__header {
    background-color: lighten($white, 3%) !important;
  }

  &-account__header p:first-of-type {
    @include h2;
  }

  &-account-dashboard__block__header__title h2.c7-h2,
  &-account-details__header h2.c7-h2 {
    @include h3;
  }

  &-account-block__title {
    @include p1;
    font-weight: 700;
  }

  &-link {
    @include meta;
    color: $blue;
  }

  &-cart {
    width: calc(100% - 80px);
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
  }

  &-order-summary {

    &__title {
      @include p1;
    }

    &__value {
      @include p1;
      font-weight: 700 !important;
    }
  }

  &-tab {
    font-family: $serif !important;
  }
}

#c7-cart {
  height: 0 !important;

  > .c7-user-nav__cart > .c7-link {
    @include hide;
  }

  .c7-order-summary {
    @include p1;

    &__item--subtotal {

    }
  }

  .c7-order-item__title {

    a {
      text-decoration: none;
    }
  }
}

#c7-content {
  font-family: $sans-serif;
}

.c7-content.c7-account-login {
  padding-top: 60px !important;
}

.c7-message.c7-message--alert-error {
  @include meta;
}

.c7-club-summary__title {
  font: 500 normal 30px/1.1 $serif !important;
  color: $blue !important;
  letter-spacing: -.01em !important;
  text-transform: none !important;

  @include bp(xl) {
    font-size: 28px !important;
  }

  @include bp(l) {
    font-size: 26px !important;
  }

  @include bp(m) {
    font-size: 24px !important;
  }

  @include bp(s) {
    font-size: 22px !important;
  }
}

.c7-club-summary__description,
.c7-order-items__title{
  font-family: $sans-serif;
}

.c7-callout__title {
  font-family: $sans-serif;
  margin-bottom: 10px;
}

.c7-account__header {
  background: none !important;
}


// Hide Reservations tabs
.c7-account__menu,
.c7-user-nav__account__dropdown {

  ul {

    li:nth-child(4) {
      @include hide;
    }
  }
}

#fullsteam-hosted-digital-wallet-div {
  display: flex;
  justify-content: center;

  @include bp(s) {
    flex-direction: column;
    align-items: center;
  }

  #fullsteam-hosted-digitalwallet-frame {

    @include bp(s) {
      margin-right: 0 !important;
      margin-bottom: 25px;
    }
  }
}

.c7wp-wrap[data-c7-type="login"],
.c7wp-wrap[data-c7-type="cart"] {
    min-width: 0 !important;
}

.c7-side-cart {
  font-family: $sans-serif;
}

.c7-account-details__delete-account {
  @include hide;
}
