//==============================
// Contact
//==============================

.contact {

  &-hero {

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10%;
      background: transparent url('assets/images/shop/shop-hero-mask.svg') center bottom / 100% 100% no-repeat;
      z-index: 1;
    }
  }

  &-intro {
    text-align: center;
    width: calc(100% - 80px);
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 0 0;

    @include bp(s) {
      padding-top: 60px;
    }

    a {
      @include link-underline-on-hover;
    }
  }

  &-form {
    width: calc(100% - 80px);
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0 100px;

    @include bp(s) {
      width: calc(100% - 40px);
    }

    input[type="submit"],
    button[type="submit"] {
      @include input-reset;
      @include button;
      margin: 0 auto;
    }
  }
}

.c7-custom-form .c7-form__buttons {
  margin-top: 20px !important;
}

.c7-custom-form__success-message {
  text-align: center !important;
}
