//==============================
// Home
//==============================

.home {

  &-overview {
    background: $light-grey-bg url('assets/images/home/overview-bg.jpg') center top / cover no-repeat;
  }

  &-intro {
    background-color: $white;
    padding: 100px 160px 80px;
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1000px;
    text-align: center;
    position: relative;
    top: -240px;
    @include img-mask('assets/images/global/content-card-center-mask.svg');

    @include bp(l) {
      padding: 80px;
      max-width: 800px;
      top: -150px;
    }

    @include bp(s) {
      width: calc(100% - 40px);
      padding: 80px 40px;
      max-width: 600px;
    }

    @include bp(xs) {
      width: calc(100% - 20px);
      padding: 60px 30px;
      top: -100px;
    }

    &-title {
      font: 600 normal 36px/1.1 $serif-caption;
      text-transform: uppercase;
      letter-spacing: .09em;
      color: $brown;
      margin-bottom: .5em;

      @include bp(l) {
        font-size: 32px;
      }

      @include bp(m) {
        font-size: 30px;
      }

      @include bp(s) {
        font-size: 26px;
      }

      br {

        @include bp(l) {
          display: none;
        }
      }
    }

    p {

      br {

        @include bp(m) {
          display: none;
        }
      }
    }

    &-signature {
      width: 180px;
      margin-top: 20px;
     }
  }

  &-shop {
    overflow: hidden;
    position: relative;

    &.animate {

      img {
        transform: translateY(0);

        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            transition-delay: 0.05s * $i;
          }
        }
      }
    }

    &-items {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: flex-end;
      padding: 0 5%;
      width: 120%;
      position: relative;
      left: -10%;
      z-index: 2;

      &-desktop {

        @include bp(s) {
          display: none;
        }
      }

      &-mobile {
        display: none;

        @include bp(s) {
          display: flex;
        }
      }

      img {
        width: calc((100% / 9) - 3%);
        height: auto;
        transform: translateY(10vw);
        transition: transform 1s;

        @include bp(s) {
          width: calc((100% / 5) - 5%);
        }
      }
    }

    &-content {
      background-color: $blue;
      padding: 20vw 0;
      position: relative;
      margin-top: -10vw;

      @include bp(s) {
        // margin-top: -20vw;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 8vw;
        left: 0;
        bottom: 100%;
        z-index: 1;
        background: transparent url('assets/images/home/shop-wave.svg') center bottom / 100% 100% no-repeat;
      }

      &-items {
        border: $white dashed 1px;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: calc(100% - 80px);
        max-width: 1000px;
        margin: 0 auto;
        border-radius: 20px;
        transform: scale(.9);
        opacity: 0;
        transition: transform .6s, opacity .6s;

        &.animate {
          transform: scale(1);
          opacity: 1;
        }

         @include bp(l) {
          max-width: 800px;
        }

        @include bp(s) {
          max-width: 500px;
          width: calc(100% - 40px);
        }
      }

      &-item {
        width: 50%;
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;

        @include bp(m) {
          padding-top: 40px;
          padding-bottom: 40px;
        }

        @include bp(s) {
          width: 100%;
        }

        &:nth-child(1) {
          border-right: $white dashed 1px;
          padding-right: 40px;

          @include bp(s) {
            border-right: 0;
            border-bottom: $white dashed 1px;
            padding-right: 0;
            padding-bottom: 100px;
          }
        }

        &:nth-child(2) {
          padding-left: 40px;

          @include bp(s) {
            padding-left: 0;
            padding-top: 100px;
          }
        }

        img {
          display: block;
          margin: 0 auto 20px;
          height: 50px;
          width: auto;

          @include bp(l) {
            height: 30px;
          }
        }

        p {
          color: $white;
        }
      }

      &-link {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        border: $white solid 2px;
        font: 600 normal 20px/1.2 $sans-serif;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        background-color: $blue;
        z-index: 1;
        transition: transform .2s $easing;

        @include bp(m) {
          height: 130px;
          width: 130px;
        }

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }

  &-visit {
    background-color: $blue;
  }

  &-map {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $blue url('assets/images/home/map.jpg') right bottom / auto 100% no-repeat;
    position: relative;

    @include bp(xl) {
      min-height: 0;
    }

    @include bp(m) {
      padding-bottom: 60vw;
      background: $blue url('assets/images/home/map-mobile.jpg') right bottom / 100% auto no-repeat;
    }

    &-content {
      max-width: 500px;
      padding: 150px 0 200px;
      position: relative;
      z-index: 2;
      margin-left: 15%;

      @include bp(m) {
        margin: 0 auto;
        padding: 60px 40px 0;
      }

      .h1 {
        color: #a9a587;
      }

      p, ul {
        color: $white;
      }
    }
  }

  &-club-winemaker {
    background: #f3f3f4 url('assets/images/home/club-winemaker-bg.jpg') center bottom / cover no-repeat;
    padding-top: 15vw;

    @include bp(s) {
      padding-top: 0;
    }
  }

  &-winemaker {
    padding: 200px 0 0;
    position: relative;
    z-index: 3;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(242,241,237,0) 0%, rgba(242,241,237,1) 100%);
      z-index: 2;
    }

    @include bp(s) {
      padding-top: 100px;
    }

    &-wrap {
      margin: 0 auto;
      width: calc(100% - 80px);
      max-width: 1200px;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      position: relative;
      z-index: 3;

      @include bp(s) {
        max-width: 400px;
      }
    }

    &-img {
      width: 50%;
      @include img-mask('assets/images/home/aaron-quote-mask.svg');

      @include bp(s) {
        width: 100%;
      }

      img {
        @include img-cover;
      }
    }

    &-content {
      width: 50%;
      padding: 200px 40px 150px 80px;
      margin: 0;

      @include bp(l) {
        padding: 100px 40px 80px 40px;
      }

      @include bp(s) {
        width: 100%;
        padding: 40px 0 0 0;
      }

      p {
        font: 300 italic 46px/1.2 $serif;
        letter-spacing: -.01em;
        color: #8c8c8c;

        @include bp(l) {
          font-size: 40px;
        }

        @include bp(m) {
          font-size: 30px;
        }

        @include bp(s) {
          font-size: 24px;
        }

        + p {
          margin-top: .5em;
        }

        &:nth-child(1) {
          position: relative;

          &:before {
            content: '\201C';
            position: absolute;
            top: -.4em;
            left: -.05em;
            font: 400 normal 400%/1 $quote-marks;
            opacity: .4;
          }
        }
      }

      cite {
        @include p1;
        line-height: 1.4;
        display: block;
        margin-top: 2em;
        color: $blue;
        border-top: 1px dashed #8c8c8c;
        padding-top: 20px;

        span {
          font-size: 120%;
          font-weight: 700;
        }
      }
    }
  }

  &-skyline {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(0deg, rgba(242,241,237,0) 0%, rgba(242,241,237,1) 100%);
      z-index: 2;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}






