//==============================
// Post
//==============================

.post {

  &-header {
    background: $blue;
    padding: 200px 0 60px;
    text-align: center;

    @include bp(s) {
      padding: 140px 0 30px;
    }

    h1 {
      width: calc(100% - 80px);
      max-width: 900px;
      margin: 0 auto;
      color: $beige;

      @include bp(s) {
        width: calc(100% - 40px);
      }
    }
  }

  &-content {
    width: calc(100% - 80px);
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0 100px;

    @include bp(s) {
      width: calc(100% - 40px);
      padding: 40px 0 100px;
    }

    &-wide {
      max-width: 1600px;
    }

    h1,
    h2 {
      font: 300 normal 40px/1.1 $serif;
      color: $gold;

      @include bp(l) {
        font-size: 34px;
      }

      @include bp(m) {
        font-size: 30px;
      }

      @include bp(s) {
        font-size: 26px;
      }
    }

    h3 {
      @include h3;
    }

    h1,
    h2,
    h3 {

      + h1,
      + h2,
      + h3,
      + p,
      + ul,
      + ol {
        margin-top: .5em;
      }
    }

    p,
    ul,
    ol {

      + p,
      + ul,
      + ol {
        margin-top: 1.5em;
      }

      + h1,
      + h2,
      + h3 {
        margin-top: 1em;
      }
    }

    ul,
    ol {
      margin-left: 2em;
    }

    li {

      + li {
        margin-top: .25em;
      }
    }

    img {
      display: block;
      margin: 1.5em 0;
      max-width: 100%;
      height: auto;
    }

    blockquote {
      margin: 3em;
      padding: 0;

      @include bp(s) {
        margin: 1.5em 1em;
      }

      p {
      }
    }

    a {
      color: currentColor;
      text-decoration: underline;
    }

    table {
      @include p1;

      th {
        background-color: $darken-white;
      }

      th,
      td {
        text-align: left;
        border-color: $black;
      }
    }
  }
}
