//==============================
// Product
//==============================

.product {
  display: flex;
  flex-flow: row wrap;

  &-img {
    width: 45%;

    @include bp(s) {
      width: 100%;
      // border-bottom: #ddd solid 1px;
    }

    img {
      width: 100%;
      display: block;

      @include bp(s) {
        max-width: 300px;
        margin: 0 auto;
      }

      @include bp(xs) {
        max-width: 200px;
      }
    }
  }

  &-price {
    margin-bottom: 1.5em;
  }

  &-content {
    width: 55%;
    padding-top: 7%;

    @include bp(s) {
      width: 100%;
      padding-top: 40px;
    }
  }

  &-description {
    padding-top: 40px;
  }
}
