//==============================
// Product
//==============================

.product {
  display: flex;
  flex-flow: row wrap;
  padding-top: 40px;

  &-img {
    width: 45%;

    @include bp(s) {
      width: 100%;
    }

    img {
      display: block;
      height: 600px;
      margin: 0 auto;

      @include bp(s) {
        height: 400px;
        margin: 0 auto;
      }

      @include bp(xs) {
        height: 300px;
      }
    }
  }

  &-price {
    margin: .5em 0;
    font: 400 normal 24px/1.5 $monospace;
    color: $charcoal;
    text-transform: uppercase;

    @include bp(m) {
      font-size: 20px;
    }

    @include bp(s) {
      font-size: 18px;
    }
  }

  &-content {
    width: 55%;

    @include bp(s) {
      width: 100%;
      padding-top: 40px;
    }
  }

  &-description {
    margin-top: 30px;
    padding-top: 30px;
    border-top: #e5e5e5 solid 1px;
  }
}
