//==============================
// Product
//==============================

.c7-product-detail {
  padding-top: 50px;

  .c7-product {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 80px);
    max-width: 1100px;
    margin: 0 auto;

    &__image {
      flex: 0 0 400px;

      @include bp(m) {
        flex: 0 0 300px;
      }

      @include bp(s) {
        width: 100%;
        flex: none;
        padding-right: 0;
      }
    }

    &__details {

      @include bp(s) {
        width: 100%;
        margin-top: 20px;
      }
    }

    &__info {
      flex-flow: row wrap;
    }

    &__content {
      width: 100%;
    }

    &__specs {
      width: 100%;
    }

    &__title {
      @include h2;
      margin-bottom: 0.5em;
    }

    &__subtitle {
      @include h3;
    }

    &__add-to-cart__price {
      @include meta;
    }

    &__content {
      @include p1;
    }

    &__info {
      @include p1;
    }
  }
}
