//==============================
// Shop
//==============================

.shop {

  &-items {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: calc(100% / 3);
    padding: 40px 20px 100px;
    text-align: center;

    @include bp(m) {
      width: 50%;
    }

    @include bp(s) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      max-width: 250px;

      @include bp(xs) {
        max-width: 200px;
      }
    }

    .subtitle {
      margin-bottom: 10px;
    }

    .subtitle2 {
      margin-bottom: 20px;
    }
  }
}

.cart {

  form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .vs2-productList-price {
    display: none;
  }

  .vs2-productList-quantity-dropdown {
    @include input-reset;
    border: #ccc solid 1px;
    font: 500 normal 13px/1.2 $sans-serif;
    letter-spacing: .15em;
    background-color: transparent;
    padding: 1em 2em 1em 1em;
    margin-right: 20px;
    background: transparent url('assets/images/global/arrow-down.svg') right center / 20px auto no-repeat;
  }

  .vs2-productList-addToCart {

    button {
      @include button;
      margin-left: 20px;
    }
  }
}