//==============================
// Shop
//==============================

.shop {

  &-hero {

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7%;
      background: transparent url('assets/images/shop/shop-hero-mask.svg') center bottom / 100% 100% no-repeat;
      z-index: 2;
    }
  }

  &-section {
    padding: 140px 0;

    @include bp(m) {
      padding: 100px 0;
    }

    @include bp(s) {
      padding: 80px 0;
    }
  }

  &-header {
    text-align: center;
    padding: 0 40px 60px;
    max-width: 700px;
    margin: 0 auto;

    @include bp(s) {
      max-width: 400px;
      padding: 0 40px 40px;
    }

    &-logo {
      display: block;
      margin: 0 auto;
      width: auto;

      @include bp(s) {
        height: 30px;
      }

      &-normal {
        height: 50px;

        @include bp(s) {
          height: 30px;
        }
      }

      &-large {
        height: 60px;

        @include bp(s) {
          height: 50px;
        }
      }
    }

    .description {
      color: #666;
      margin: 20px auto 0;

      br {

        @include bp(s) {
          display: none;
        }
      }
    }
  }

  .products {

    &-count {

      &-one,
      &-two {

        .c7-product-collection {

          &__product-list {
            justify-content: center;
          }
        }
      }

      &-three {

        .c7-product-collection {

          &__product-list {
            justify-content: center;

            @include bp(m) {
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }

  .c7 {

    &-h2 {
      @include hide;
    }

    &-product-collection {
      width: calc(100% - 80px);
      max-width: 1600px;
      margin: 0 auto;

      @include bp(s) {
        width: calc(100% - 40px);
      }

      &__product-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // column-gap: 12px;
        // row-gap: 12px;

        grid-template-columns: none;
        column-gap: 0;
        row-gap: 0;

        @include bp(xl) {
          // grid-template-columns: 1fr 1fr 1fr;
        }

        @include bp(m) {
          // grid-template-columns: 1fr 1fr;
        }

        @include bp(s) {
          justify-content: center !important;
        }

        p {
          text-align: center;
          margin: 0 auto;
        }
      }

      &__content {

        p {
          text-align: center;
        }
      }

      .c7-product {
        // display: flex;
        // flex-flow: column nowrap;
        // align-items: center;
        // text-align: center;
        // padding: 30px 0 40px;
        // flex-direction: column;
        // background-color: #fff;
        // width: 25%;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 40px 30px;
        text-align: center;
        background-color: #fff;
        width: calc((100% / 4) - (#{$grid-gutter * 3} / 4));
        margin-right: $grid-gutter;
        margin-bottom: $grid-gutter;

        &:nth-child(4n) {
          margin-right: 0;

          @include bp(xl) {
            margin-right: $grid-gutter;
          }

          @include bp(s) {
            margin-right: 0;
          }
        }

        &:nth-child(3n) {
          
          @include bp(xl) {
            margin-right: 0;
          }

          @include bp(m) {
            margin-right: $grid-gutter;
          }

          @include bp(s) {
            margin-right: 0;
          }
        }

        &:nth-child(2n) {
          
          @include bp(m) {
            margin-right: 0;
          }
        }

        @include bp(xl) {
          width: calc((100% / 3) - (#{$grid-gutter * 2} / 3));
        }

        @include bp(l) {
          padding: 40px 20px;
        }

        @include bp(m) {
          width: calc((100% / 2) - (#{$grid-gutter} / 2));
        }

        @include bp(s) {
          width: 100%;
          max-width: 400px;
          margin-right: 0;
        }

        &__image {
          margin-bottom: 20px;
          flex: none;
          margin-right: 0;

          img {
            max-height: 320px;
          }
        }

        &__details {
          width: 100%;
          text-align: center;
          padding: 0 20px;
          display: flex;
          flex-flow: column nowrap;

          .c7-form {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
          }
        }

        &__title {
          font: 600 normal 18px/1.3 $sans-serif !important;
          letter-spacing: .2em;
          text-transform: uppercase;
          color: $brown;

          @include bp(m) {
            font-size: 17px;
          }

          @include bp(s) {
            font-size: 16px;
          }
          // font: 400 normal 22px/1.3 $sans-serif !important;
          // margin-bottom: 0;

          // @include bp(m) {
          //   font-size: 20px !important;
          // }

          // @include bp(s) {
          //   font-size: 18px !important;
          // }
          
          a {
            color: $brown;
          }
        }

        &__subtitle {
          @include meta;
          margin-top: 10px;
          color: #999;
        }

        &__teaser {
          display: none;
        }

        &__add-to-cart {
          // height: 100%;
          // display: flex;
          // flex-flow: column nowrap;
        }

        &__add-to-cart__form {
          justify-content: center;
          margin-top: auto;

          .c7-btn--primary {
            background-color: transparent !important;
            color: $blue !important;
            border: $blue solid 2px;
            border-left: 0;

            &:hover,
            &:active {
              background-color: $blue !important;
              color: $white !important;
            }
          }
        }

        &__add-to-cart__price {
          font: 400 normal 17px/1.3 $sans-serif;
          letter-spacing: .02em;
          font-weight: 400;
          color: $charcoal;

          &__variant {
            vertical-align: baseline;
          }
        }

        &__add-to-cart__form__quantity {
          @include meta;
          margin-right: 0 !important;

          input {
            border-radius: 0 !important;
            border: $blue solid 2px;
          }
        }

        &__login-message {

          .c7-btn {
            margin-top: 1em;
          }
        }
      }
    }
  }
}

.products {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - 120px);
  max-width: 1600px;
  margin: 0 auto;

  @include bp(m) {
    width: calc(100% - 80px);
  }

  @include bp(s) {
    width: calc(100% - 40px);
    justify-content: center !important;
  }

  &-align-left {
    justify-content: flex-start;
  }

  &-align-center {
    justify-content: center;
  }

  &-align-center-desktop {
    justify-content: center;

    @include bp(m) {
      justify-content: flex-start;
    }
  }
}

.product {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 40px 30px 60px;
  text-align: center;
  background-color: #fff;
  width: calc((100% / 4) - (#{$grid-gutter * 3} / 4));
  margin-right: $grid-gutter;
  margin-bottom: $grid-gutter;

  &:nth-child(4n) {
    margin-right: 0;

    @include bp(xl) {
      margin-right: $grid-gutter;
    }

    @include bp(s) {
      margin-right: 0;
    }
  }

  &:nth-child(3n) {
    
    @include bp(xl) {
      margin-right: 0;
    }

    @include bp(m) {
      margin-right: $grid-gutter;
    }

    @include bp(s) {
      margin-right: 0;
    }
  }

  &:nth-child(2n) {
    
    @include bp(m) {
      margin-right: 0;
    }
  }

  @include bp(xl) {
    width: calc((100% / 3) - (#{$grid-gutter * 2} / 3));
  }

  @include bp(m) {
    width: calc((100% / 2) - (#{$grid-gutter} / 2));
  }

  @include bp(s) {
    width: 100%;
    max-width: 400px;
    margin-right: 0;
  }

  &-img {
    height: 320px;
    margin-bottom: 25px;

    @include bp(m) {
      height: 260px;
    }

    @include bp(xs) {
      height: 200px;
    }

    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .meta {
    margin-top: 10px;
    color: #999;
  }
}

// .cart {
//   margin-top: 20px;
//   flex-grow: 1;

//   form {
//     display: flex;
//     flex-flow: row nowrap;
//     align-items: flex-start;
//   }

//   fieldset {
//     width: 100%;
//     display: flex;
//     flex-flow: row wrap;
//     align-items: stretch;
//     justify-content: center;
//     margin-top: auto;
//   }

//   .product-cart {
//     height: 100%;
//     @include p1;
//   }

//   .v65-widgetProduct-addToCart {
//     height: 100%;
//   }

//   .v65-widgetAddToCart {
//     height: 100%;
//   }
  
//   legend,
//   .v65-widgetProduct-addToCart-unitDescription,
//   .v65-widgetProduct-addToCart-productSKU {
//     display: none;
//   }

//   .v65-widgetProduct-addToCart-priceWrapper {
//     width: 100%;
//     margin-top: auto;
//   }

//   .v65-widgetProduct-addToCart-price {
//     font-weight: 400;
//     margin-bottom: 20px;
//     color: $charcoal;
//     width: 100%;
//   }

//   .v65-widgetProduct-addToCart-outOfStockMessage {
//     @include p1;
//     margin-bottom: 10px;
//   }

//   .v65-widgetProduct-addToCart-quantity {
//     width: 60px;

//     input {
//       @include input-reset;
//       @include button;
//       font-size: 15px;
//       background-color: transparent;
//       border: $blue solid 2px;
//       border-right: 0;
//       width: 100% !important;
//       padding: .7em;
//     }
//   }

//   .v65-widgetProduct-addToCart-allocationMessage {
//     @include p1;
//     width: 100%;

//     + .v65-widgetProduct-addToCart-outOfStockMessage {
//       display: none;
//     }
//   }

//   .v65-widgetProduct-addToCart-button {

//     button {
//       @include input-reset;
//       @include button;
//       font-size: 15px;
//       padding: .7em 1.5em;
//       background-color: transparent;
//       border: $blue solid 2px;
//       height: 100%;
//       color: $blue;

//       &:hover {
//         cursor: pointer;
//         background-color: $blue;
//         color: $white;
//       }

//       @include bp(s) {
//         font-size: 13px;
//       }
//     }
//   }
// }
