//==============================
// Shop
//==============================

.shop {

  &-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: calc(100% / 3);
    padding: 40px 40px 100px;
    text-align: center;

    @include bp(m) {
      width: 50%;
      padding-bottom: 30px;
    }

    @include bp(s) {
      width: 100%;
    }

    img {
      display: block;
      height: 320px;
      margin-bottom: 25px;

      @include bp(m) {
        height: 260px;
      }

      @include bp(xs) {
        height: 200px;
      }
    }

    &-title {
      margin-bottom: 5px;
      font-weight: 700;
    }

    &-subtitle {
      font-size: 13px;
      line-height: 1.6;
      margin-bottom: 15px;
    }
  }

  &-logo {
    width: 250px;

    @include bp(s) {
      width: 150px;
    }
  }

  &-aaron {
    background-color: #f8f8f8;

    + .shop {
      background-color: #f8f8f8;

      .shop-item-subtitle {
        display: none;
      }
    }
  }
}

.cart {
  margin-top: auto;
  padding-top: 20px;

  form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  legend,
  .v65-widgetProduct-addToCart-priceWrapper,
  .v65-widgetProduct-addToCart-unitDescription,
  .v65-widgetProduct-addToCart-price {
    display: none;
  }

  .v65-widgetProduct-addToCart-outOfStockMessage {
    @include p1;
    margin-bottom: 10px;
  }

  .v65-widgetProduct-addToCart-quantity {
    float: left;
    width: 50px;
    margin-right: 20px;
  }

  // .vs2-productList-soldOut {
  //   @include p1;
  // }

  .v65-widgetProduct-addToCart-button {
    float: left;
  }

  // .vs2-productList-notAvailable {
  //   max-width: 200px;

  //   span {
  //     font: 300 normal 14px/1.4 $monospace;
  //     letter-spacing: .02em;
  //     color: $charcoal;
  //   }
  // }
}
